
body, p, h1, h2, h3, ul, li {
    font-family: "Courier New", Courier, monospace;
}

#primer-parrafo {
    background-color: grey;
}

h1 {
    font-weight: normal;
}

h1.especial {
    color: blue;
}

h2, h3 {
    border: 1px solid orange;
}

ul > li {
    color: red;
}

ul ul > li {
    color: green;
}

p > img {
    border: 5px solid black;
    width: 100px; 
    height: auto; 
}

img[alt="segunda"] {
    border: 5px solid red;
    width: 100px; 
    height: auto; 
}

.antes-parrafo {
    background-color: pink;
}

p + .despues-parrafo {
    background-color: blue;
}