/* Estilos generales */
body {
    font-family: "Times New Roman", Times, serif;
    color: #333;
    background-color: white;
}

h1 {
    color: #333;
    font-size: 20px;
}

h2 {
    color: #666;
    font-size: 16px;
}

p {
    font-size: 16px;
    color: #000;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para la imagen */
img {
    display: block;
}

/* Estilos para las tablas */
table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #666;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tfoot {
    background-color: #ccc;
    text-align: center;
    font-size: 14px;
}

tfoot td {
    font-weight: bold;
    color: #000;
}